/*   ------
 * DIRECTIVAS PRINCIPALES DE TAILWIND
 * Estas tres líneas le dicen a Tailwind qué generar.
 *   ------ */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 /*   ------
  * REGLAS GLOBALES (Opcional, pero bueno para la fuente)
  *   ------ */
 @layer base {
   /* Usar Arimo como fuente principal */
   html {
     font-family: 'Arimo', sans-serif;
   }
   
   /* Usar SUSE para todos los headings por defecto */
   h1, h2, h3, h4, h5, h6 {
     font-family: 'SUSE', sans-serif;
   }
 }
 
 /* Opcional: Estilo de fondo para el body */
 body {
   margin: 0;
   min-height: 100vh;
   background-color: #001a33;
 }
 
 @layer utilities {
   .bg-lima {
     background-color: #d2d209;
   }
   .text-lima {
     color: #d2d209;
   }
   .border-lima {
     border-color: #d2d209;
   }
   .hover\:bg-lima-dark:hover {
    background-color: #d2d209; /* Un poco más oscuro para el hover */
  }
 }
 