/*   ------
 * DIRECTIVAS PRINCIPALES DE TAILWIND
 * Estas tres líneas le dicen a Tailwind qué generar.
 *   ------ */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 /*   ------
  * REGLAS GLOBALES (Opcional, pero bueno para la fuente)
  *   ------ */
 @layer base {
   /* Usar Inter como fuente principal */
   html {
     font-family: 'Inter', sans-serif;
   }
 }
 
 /* Opcional: Estilo de fondo para el body */
 body {
   margin: 0;
   min-height: 100vh;
   background-color: #0A2342; /* Azul oscuro */
 }
 
 @layer utilities {
   .bg-lima {
     background-color: #d2d209;
   }
   .text-lima {
     color: #d2d209;
   }
   .border-lima {
     border-color: #d2d209;
   }
   .hover\:bg-lima-dark:hover {
    background-color: #b8b808; /* Un poco más oscuro para el hover */
  }
 }
 